a{
    color: #000;
}
.list-post .post-item{
    display: flex;  
    margin: 20px 0; 
}
.list-post .post-item .post-thumb{
    width: 240px;
    height: 150px;
    overflow: hidden;
}
.post-item .post-thumb img{height: 100%;transition:.5s ease-in-out;}
.post-item:hover .post-thumb img{transform: scale(1.2);}
.list-post .post-item .post-detail{
    font-size: 15px;
    width: 600px;
    padding: 0 10px;
}
.list-post .post-item .post-detail .post-title{
    font-size: 21px;
    font-weight: 600;
    text-decoration: none;
    color: rgb(30, 29, 29);
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.list-post .post-item .post-detail .post-title:hover{color: #3498db;}
.list-post .post-item .post-detail .create-post::before{
    content: "\f017";
    font-family: 'FontAwesome';
}
.list-post .post-item .post-detail .create-post{
    color: #888;
    padding: 10px 0 5px 0;
    display: block;
}
.list-post .post-item .post-detail .post-desc{
    color: rgb(36, 36, 36);
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

